* {
    box-sizing: border-box;
}

:root {
    --header-bg: #10375c;
}
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 50px;
}

/* Common */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    display: inline-block;
    min-width: 205px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    padding: 0 20px;
    border-radius: 99px;
    color: #fff;
    background-color: #2e80ce;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.control {
    display: flex;
    column-gap: 18px;
}
.control__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #575f66;
    outline: none;
    color: #575f66;
    background: #fff;
    transition: 0.25s;
}

.control__btn:hover {
    color: #fff;
    border-color: #2e80ce;
    background: #2e80ce;
    cursor: pointer;
}
/* Header */

.header {
    min-height: 100vh;
    padding-top: 30px;
    background: var(--header-bg);
}

.logo {
    position: relative;
    display: inline-flex;
    font-size: 1rem;
}

.logo__circle::before,
.logo__circle::after {
    content: "";
    display: inline-block;
    border-radius: 50%;
}

.logo__circle::before {
    width: 3em;
    height: 3em;
    background: #2e80ce;
}

.logo__circle::after {
    position: absolute;
    top: 1.1em;
    left: 1.1em;
    width: 1.6em;
    height: 1.6em;
    background: #fff;
}

.logo__text {
    margin-left: 0.6em;
    text-align: right;
    line-height: 1.6em;
}

.logo__brand {
    display: block;
    font-family: Sora, sans-serif;
    font-size: 1.8em;
    font-weight: 400;
    color: #fff;
}

.logo__brand--small {
    font-size: 1.2em;
    font-weight: 300;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__list {
    display: flex;
}

.action__login {
    margin-right: 7px;
}

.navbar__link,
.action__login {
    color: #c9d2da;
    text-align: center;
    padding: 10px 21px;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75; /* 175% */
}

.navbar__link:hover,
.navbar__link--active {
    text-shadow: 0.5px 0 0 currentColor;
}

.navbar__link--active::before {
    left: -8px;
    top: -2px;
    position: relative;
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
}

.action__signup {
    min-width: 104px;
    height: 44px;
    line-height: 44px;
}

.hero {
    padding-top: 76px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__content {
    max-width: 517px;
}

.hero__heading {
    font-size: 70px;
    font-weight: 600;
    line-height: 1.14;
    letter-spacing: -0.02em;
    text-align: left;
    color: #fff;
}

.hero__content--desc {
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 30px;
    text-align: left;
    color: #c9d2da;
    margin-top: 22px;
}

.hero__row {
    margin-top: 38px;
}

.hero__phone {
    margin-left: 38px;
    color: #fff;
    font-size: 1.8rem;
    line-height: 1.67; /* 166.667% */
}

.hero__images {
    display: flex;
    align-items: center;
}

.hero__img {
    width: 330px;
    height: 540px;
    border-radius: 6px;
    object-fit: cover;
}

.hero__img:last-child {
    border-radius: 0px;
    width: 210px;
    height: 410px;
}

/* Service */

.service {
    padding: 170px 0;
}

.section-heading {
    color: #10375c;
    text-align: center;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2; /* 120% */
    letter-spacing: -1px;
}

.section-desc {
    max-width: 468px;
    margin-top: 20px;
    color: #575f66;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 30px; /* 166.667% */
}

.service__img {
    width: 570px;
    height: 570px;
    object-fit: cover;
    border-radius: 12px;
}

.service__row {
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.service-item {
    display: flex;
    width: 470px;
    padding: 22px;
    border-radius: 10px;
    background: #fff;
}

.service-item:hover {
    position: relative;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}

.service-item__body {
    margin-left: 19px;
}

.service-item__heading {
    color: #10375c;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: normal;
}

.service-item__desc {
    max-width: 351px;
    color: #575f66;
    margin-top: 8px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.75; /* 175% */
}
.service-item__icon-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: #10375c;
    background: #eff6fd;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
    transition: 0.25s;
}

.service-item:hover .service-item__icon-wrap {
    background-color: #2e80ce;
    color: #fff;
}

.service__btn {
    margin-top: 55px;
}

/* Work */

.work {
    background: #f6fbff;
    padding: 100px 0;
}

.work .section-heading {
    text-align: left;
}

.work .section-desc {
    margin-left: 0;
    text-align: left;
    margin-top: 18px;
}

.work__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    margin-top: 70px;
}

.work__item {
    padding: 44px;
    border: 16px solid #eaf6ff;
    border-radius: 4px;
    transition: 0.25s;
}

.work-item__heading {
    margin-top: 18px;
    color: #10375c;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.3846; /* 138.462% */
}

.work-item__desc {
    margin-top: 28px;
    max-width: 254px;
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75; /* 175% */
}

.work-more {
    display: inline-block;
    margin-top: 18px;
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

.work__item:hover {
    transform: translateY(-16px);
    border-color: #2e80ce;
}

.work__item:hover .work-more {
    color: #2e80ce;
}

/* Feature */

.feature {
    margin-top: 85px;
    padding: 85px 0;
}

.feature__inner {
    display: flex;
    align-items: center;
    column-gap: 130px;
}

.feature__media {
    width: 48%;
}
.feature__images {
    position: relative;
    padding: 0 58px 121px 0;
}

.feature__img {
    width: 512px;
    height: 370px;
    border-radius: 6px;
    object-fit: cover;
}

.feature__img:last-child {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 332px;
    height: 370px;
}

.feature__content {
    /* max-width: 470px; */
}

.feature__heading {
    color: #10375c;
    font-size: 50px;
    font-weight: 600;
    line-height: 1.2; /* 120% */
    letter-spacing: -1px;
}

.feature__desc {
    color: #575f66;
    margin: 18px 0 38px;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67; /* 166.667% */
}

/* Member */
.member {
    padding: 85px 0;
    text-align: center;
}

.member__header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.member__cta {
    margin-top: 38px;
}

.member__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    margin-top: 70px;
}

.member__control {
    margin-top: 38px;
    justify-content: center;
}

.member-item:hover .member-item__thumb {
    transform: scale(1.1);
}

.member-item__img-bg {
    padding-top: 28px;
    border-radius: 6px;
    background: #eaf6ff;
    overflow: hidden;
}

.member-item__thumb {
    display: block;
    max-width: 100%;
    height: 290px;
    object-fit: cover;
    transition: 0.25s;
}

.member-item__name {
    margin-top: 12px;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #10375c;
}

.member-item__title {
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #575f66;
}

.member__control {
    margin-top: 38px;
    justify-content: center;
}

.control-next-icon {
    rotate: 180deg;
}

/* Install */
.install {
    padding: 85px 0;
    margin-top: 95px;
}

.install__inner {
    display: flex;
    align-items: center;
    column-gap: 160px;
    padding: 0px 70px;
    border-radius: 4px;
    background: #2e80ce;
}

.install__img {
    display: block;
    margin-top: -95px;
    width: 284px;
    height: 522px;
    object-fit: cover;
}

/* .install__content {
    width: 50%;
} */

.install__heading {
    max-width: 489px;
    color: #fff;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2; /* 120% */
    letter-spacing: -1px;
}

.install__desc {
    width: 586px;
    margin-top: 18px;
    color: #fff;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.67; /* 166.667% */
}

.install__row {
    margin-top: 38px;
}

.install__btn {
    outline: none;
    border: none;
    background: transparent;
}

.install__btn:last-child {
    margin-left: 14px;
}

/* News */

/* News */
.news {
    margin-top: 85px;
    padding: 85px 0;
}

.news__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.news__content {
    flex-shrink: 0;
}

.news__heading {
    max-width: 470px;
    text-align: left;
}

.news__more {
    display: inline-block;
    margin-top: 28px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.56;
    text-decoration-line: underline;
    text-underline-offset: 5px;
    color: #10375c;
}

.news__control {
    margin-top: 28px;
}

.news__list {
    display: flex;
    column-gap: 30px;
    max-width: 570px;
}

.news-item {
    flex: 1;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.25s;
}

.news-item:hover {
    box-shadow: 0px 18px 50px rgba(0, 0, 0, 0.05);
}

.news-item:hover .news-item__img {
    transform: scale(1.1);
}

.news-item:hover .news-item__body {
    border-color: #fff;
}

.news-item__thumb {
    height: 172px;
    overflow: hidden;
}

.news-item__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.25s;
}

.news-item__body {
    padding: 24px 24px 16px;
    border: 1px solid #e8ebee;
    border-top: none;
    border-radius: 0 0 12px 12px;
    background: #fff;
    transition: 0.25s;
}

.news-item__heading {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.62;
    color: #10375c;
}

.news-item__desc {
    margin-top: 10px;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1.71;
    color: #575f66;
}

.news-item__more {
    display: inline-block;
    margin-top: 12px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8;
    color: #10375c;
}

.news-item__more:hover {
    color: #2e80ce;
}

/* Appointment */
.appointment {
    margin: 85px 0 170px;
}

.appointment__inner {
    padding: 100px 70px;
    border-radius: 4px;
    background: #f7fbff;
    text-align: center;
}

.appointment__heading {
    position: relative;
    padding-bottom: 20px;
}

.appointment__heading::after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    display: block;
    content: "";
    width: 136px;
    height: 2px;
    background: #2e80ce;
}

.appointment__desc {
    max-width: 617px;
    margin: 18px auto 38px;
    font-size: 1.6rem;
}
