* {
    box-sizing: border-box;
}

:root {
    --header-bg: #10375C;
 
}
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 50px;
}


/* Common */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    display: inline-block;
    min-width: 205px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    padding: 0 20px;
    border-radius: 99px;
    color: #FFF;
    background-color: #2E80CE;
}

.btn:hover {
    opacity: 0.9;
}
/* Header */

.header {
    min-height: 100vh;
    padding-top: 30px;
    background: var(--header-bg);
}

.logo {
    position: relative;
    display: inline-flex;
    font-size: 1rem;
}

.logo__circle::before,
.logo__circle::after {
    content: "";
    display: inline-block;
    border-radius: 50%;
}

.logo__circle::before {
    width: 3em;
    height: 3em;
    background: #2e80ce;
}

.logo__circle::after {
    position: absolute;
    top: 1.1em;
    left: 1.1em;
    width: 1.6em;
    height: 1.6em;
    background: #fff;
}

.logo__text {
    margin-left: 0.6em;
    text-align: right;
    line-height: 1.6em;
}

.logo__brand {
    display: block;
    font-family: Sora, sans-serif;
    font-size: 1.8em;
    font-weight: 400;
    color: #fff;
}

.logo__brand--small {
    font-size: 1.2em;
    font-weight: 300;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__list {
    display: flex;
}

.action__login {
    margin-right: 7px;
}

.navbar__link, .action__login {
    color: #C9D2DA;
    text-align: center;
    padding: 10px 21px;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75; /* 175% */
}


.navbar__link:hover,
.navbar__link--active {
    text-shadow: 0.5px 0 0 currentColor;
}


.navbar__link--active::before {
    left: -8px;
    top: -2px;
    position: relative;
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #FFF;
}

.action__signup {
    min-width: 104px;
    height: 44px;
    line-height: 44px;
}

.hero {
    padding-top: 76px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__content {
    max-width: 517px;
}

.hero__heading {
    font-size: 70px;
    font-weight: 600;
    line-height: 1.14;
    letter-spacing: -0.02em;
    text-align: left;
    color: #FFF;
}

.hero__content--desc {
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 30px;
    text-align: left;
    color: #C9D2DA;
    margin-top: 22px;
}

.hero__row {
    margin-top: 38px;
}

.hero__phone {
    margin-left: 38px;
    color: #FFF;
    font-size: 1.8rem;
    line-height: 1.67; /* 166.667% */
}

.hero__images {
    display: flex;
    align-items: center;
}

.hero__img {
    width: 330px;
    height: 540px;
    border-radius: 6px;
    object-fit: cover;
}

.hero__img:last-child {
    border-radius: 0px;
    width: 210px;
    height: 410px;
}

/* Service */

.service {
    padding: 170px 0;
}

.section-heading { 
    color: #10375C;
    text-align: center;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2; /* 120% */
    letter-spacing: -1px;
}

.section-desc {
    max-width: 468px;
    margin-top: 20px;
    color: #575F66;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 30px; /* 166.667% */
}

.service__img {
    width: 570px;
    height: 570px;
    object-fit: cover;
    border-radius: 12px;
}

.service__row {
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.service-item {
    display: flex;
    width: 470px;
    padding: 22px;
    border-radius: 10px;
    background: #FFF;
}

.service-item:hover {
    position: relative;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}


.service-item__body {
    margin-left: 19px;
}

.service-item__heading {
    color: #10375C;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: normal;
}

.service-item__desc {
    max-width: 351px;
    color: #575F66;
    margin-top: 8px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.75; /* 175% */
}
.service-item__icon-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: #10375c;
    background: #eff6fd;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
    transition: 0.25s;
}

.service-item:hover .service-item__icon-wrap {
        background-color: #2E80CE;
        color: #FFF;
}

.service__btn {
    margin-top: 55px;
}

/* Work */

.work {
    background: #F6FBFF;
    padding: 100px 0;
}

.work .section-heading {
    text-align: left;
}

.work .section-desc {
    margin-left: 0;
    text-align: left;
}

.work__list {
    display: flex;
    margin-top: 70px;
    justify-content: space-between;
}

.work__item {
    width: 370px;
    height: 402px;
    padding: 43px 42px;
    flex-shrink: 0;
    border: solid 16px #EAF6FF;
    border-radius: 6px;
    transition: 0.8s;
}

.work-item__heading {
    margin-top: 18px;
    color: #10375C;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.3846; /* 138.462% */
}

.work-item__desc {
    margin-top: 28px;
    max-width: 254px;
    color: #575F66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75; /* 175% */
}

.work-more {
    display: inline-block;
    margin-top: 18px;
    color: #575F66;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

 .work__item:hover {
    transform: translateY(-16px);
    border-color: #2E80CE;
}

.work__item:hover .work-more {
    color: #2E80CE;
}

/* Feature */

.feature {
    margin-top: 85px;
    padding: 85px 0;
}

.feature__inner {
    display: flex;
    align-items: center;
    column-gap: 130px;
}

.feature__media {
    width: 48%;
}
.feature__images {
    position: relative;
    padding: 0 58px 121px 0;
}

.feature__img {
    width: 512px;
    height: 370px;
    border-radius: 6px;
    object-fit: cover;
}

.feature__img:last-child {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 332px;
    height: 370px;
}

.feature__content {
    /* max-width: 470px; */
}

.feature__heading {
    color: #10375C;
    font-size: 50px;
    font-weight: 600;
    line-height: 1.2; /* 120% */
    letter-spacing: -1px;
}

.feature__desc {
    color: #575F66;
    margin: 18px 0 38px;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67; /* 166.667% */
}
